<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Brown Dwarfs</title>
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Brown Dwarfs</h1>
        <nav>
          <a href="../index.html">Home</a>
          <a href="main-sequence-stars.html">Main Sequence Stars</a>
          <a href="red-giants.html">Red Giants</a>
          <a href="white-dwarfs.html">White Dwarfs</a>
          <a href="neutron-stars.html">Neutron Stars</a>
          <a href="red-dwarfs.html">Red Dwarfs</a>
          <a href="brown-dwarfs.html">Brown Dwarfs</a>
        </nav>
      </header>
      <article>
        <figure>
          <img src="../img/brown-dwarf.jpg" alt="An image of a brown dwarf" />
          <figcaption>
            Brown dwarf LSRJ1835+3259, illustrated here, resides 20 light-years
            away in the northern constellation Lyra.
          </figcaption>
        </figure>
        <p>
          Brown dwarfs aren&apos;t technically stars. They&apos;re more massive
          than planets but not quite as massive as stars. Generally, they have
          between 13 and 80 times the mass of Jupiter. They emit almost no
          visible light, but scientists have seen a few in infrared light. Some
          brown dwarfs form the same way as main sequence stars, from gas and
          dust clumps in nebulae, but they never gain enough mass to do fusion
          on the scale of a main sequence star. Others may form like planets,
          from disks of gas and dust around stars.
        </p>
        <aside>
          <p>
            Brown dwarfs are invisible to both the unaided eye and backyard
            telescopes.
          </p>
        </aside>
      </article>
    </div>
  </body>
</html>
