<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main Sequence Stars</title>
  </head>
  <body>
    <header>
      <h1>Main Sequence Stars</h1>
      <nav>
        <a href="../index.html">Home</a>
        <a href="main-sequence-stars.html">Main Sequence Stars</a>
        <a href="red-giants.html">Red Giants</a>
        <a href="white-dwarfs.html">White Dwarfs</a>
        <a href="neutron-stars.html">Neutron Stars</a>
        <a href="red-dwarfs.html">Red Dwarfs</a>
        <a href="brown-dwarfs.html">Brown Dwarfs</a>
      </nav>
    </header>
    <article>
      <figure>
        <img
          src="../img/main-sequence.jpg"
          alt="An image of a main sequence star"
        />
        <figcaption>
          NASA&aposs Solar Dynamics Observatory captured this image of our
          4.6-billion-year-old Sun, a main sequence star. Scientists expect it
          will remain one for another 5 billion years before becoming a red
          giant.
        </figcaption>
      </figure>
      <p>
        A normal star forms from a clump of dust and gas in a stellar nursery.
        Over hundreds of thousands of years, the clump gains mass, starts to
        spin, and heats up. When the clump's core heats up to millions of
        degrees, nuclear fusion starts. This process occurs when two protons,
        the nuclei of hydrogen atoms, merge to form one helium nucleus. Fusion
        releases energy that heats the star, creating pressure that pushes
        against the force of its gravity. A star is born. Scientists call a star
        that is fusing hydrogen to helium in its core a main sequence star. Main
        sequence stars make up around 90% of the universe&aposs stellar
        population. They range in luminosity, color, and size – from a tenth to
        200 times the Sun&aposs mass – and live for millions to billions of
        years.
      </p>
      <aside>
        <p>
          Many main sequence stars can be seen with the unaided eye, such as
          Sirius – the brightest star in the night sky – in the northern
          constellation Canis Major. Rigil Kentaurus (better known as Alpha
          Centauri) in the southern constellation Centaurus is the closest main
          sequence star that can be seen with the unaided eye.
        </p>
      </aside>
    </article>
  </body>
</html>
