<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Neutron Stars</title>
  </head>
  <body>
    <header>
      <h1>Neutron Stars</h1>
      <nav>
        <a href="../index.html">Home</a>
        <a href="main-sequence-stars.html">Main Sequence Stars</a>
        <a href="red-giants.html">Red Giants</a>
        <a href="white-dwarfs.html">White Dwarfs</a>
        <a href="neutron-stars.html">Neutron Stars</a>
        <a href="red-dwarfs.html">Red Dwarfs</a>
        <a href="brown-dwarfs.html">Brown Dwarfs</a>
      </nav>
    </header>
    <article>
      <p>
        Neutron stars are stellar remnants that pack more mass than the Sun into
        a sphere about as wide as New York City&aposs Manhattan Island is long.
      </p>
      <figure>
        <img src="../img/neutron-stars.jpg" alt="An image of a neutron star" />
        <figcaption>
          The Vela pulsar is located in the circular white dot in the center of
          this image captured by NASA&aposs Chandra X-ray Observatory. The
          pulsar resides over 1,000 light-years away in the southern
          constellation Vela.
        </figcaption>
      </figure>
      <p>
        A neutron star forms when a main sequence star with between about eight
        and 20 times the Sun&aposs mass runs out of hydrogen in its core.
        (Heavier stars produce stellar-mass black holes.) The star starts fusing
        helium to carbon, like lower-mass stars. But then, when the core runs
        out of helium, it shrinks, heats up, and starts converting its carbon
        into neon, which releases energy. This process continues as the star
        converts neon into oxygen, oxygen into silicon, and finally silicon into
        iron. These processes produce energy that keep the core from collapsing,
        but each new fuel buys it less and less time. By the time silicon fuses
        into iron, the star runs out of fuel in a matter of days. The next step
        would be fusing iron into some heavier element, but doing so requires
        energy instead of releasing it. The core collapses and then rebounds
        back to its original size, creating a shock wave that travels through
        the star&aposs outer layers. The result is a huge explosion called a
        supernova. The remnant core is a superdense neutron star.
      </p>
      <aside>
        <p>
          Pulsars: These are a type of rapidly rotating neutron star. Bright
          X-ray hot spots form on the surfaces of these objects. As they rotate,
          the spots spin in and out of view like the beams of a lighthouse. Some
          pulsars spin faster than blender blades.
        </p>
        <p>
          Magnetars: All neutron stars have strong magnetic fields. But a
          magnetar&aposs can be 10 trillion times stronger than a refrigerator
          magnet&aposs and up to a thousand times stronger than a typical
          neutron star&aposs.
        </p>
        <p>
          Neutron stars are too faint to see with the unaided eye or backyard
          telescopes, although the Hubble Space Telescope has been able to
          capture a few in visible light. Astronomers usually observe them via
          X-rays and radio emission.
        </p>
      </aside>
    </article>
  </body>
</html>
