<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Red Giants</title>
    <link rel="stylesheet" href="../style.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Red Giants</h1>
        <nav>
          <a href="../index.html">Home</a>
          <a href="main-sequence-stars.html">Main Sequence Stars</a>
          <a href="red-giants.html">Red Giants</a>
          <a href="white-dwarfs.html">White Dwarfs</a>
          <a href="neutron-stars.html">Neutron Stars</a>
          <a href="red-dwarfs.html">Red Dwarfs</a>
          <a href="brown-dwarfs.html">Brown Dwarfs</a>
        </nav>
      </header>
      <article>
        <figure>
          <img src="../img/red-giant.jpg" alt="An image of a red giant" />
          <figcaption>
            This illustration depicts a red giant star, like Betelgeuse or
            Antares.
          </figcaption>
        </figure>
        <p>
          When a main sequence star less than eight times the Sun&apos;s mass
          runs out of hydrogen in its core, it starts to collapse because the
          energy produced by fusion is the only force fighting gravity&apos;s
          tendency to pull matter together. But squeezing the core also
          increases its temperature and pressure, so much so that its helium
          starts to fuse into carbon, which also releases energy. Hydrogen
          fusion begins moving into the star&apos;s outer layers, causing them
          to expand. The result is a red giant, which would appear more orange
          than red. Eventually, the red giant becomes unstable and begins
          pulsating, periodically expanding and ejecting some of its atmosphere.
          Eventually, all of its outer layers blow away, creating an expanding
          cloud of dust and gas called a planetary nebula. The Sun will become a
          red giant in about 5 billion years.
        </p>
        <aside>
          <p>
            Arcturus in the northern constellation Boötes and Gamma Crucis in
            the southern constellation Crux (the Southern Cross) are red giants
            visible to the unaided eye.
          </p>
        </aside>
      </article>
    </div>
  </body>
</html>
