<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Red Dwarfs</title>
    <link rel="stylesheet" href="../style.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>🌟Red Dwarfs</h1>
        <nav>
          <a href="../index.html">Home</a>
          <a href="main-sequence-stars.html">Main Sequence Stars</a>
          <a href="red-giants.html">Red Giants</a>
          <a href="white-dwarfs.html">White Dwarfs</a>
          <a href="neutron-stars.html">Neutron Stars</a>
          <a href="red-dwarfs.html">Red Dwarfs</a>
          <a href="brown-dwarfs.html">Brown Dwarfs</a>
        </nav>
      </header>
      <article>
        <figure>
          <img src="../img/red-dwarf.jpg" alt="An image of a red dwarf" />
          <figcaption>
            Our closest stellar neighbor, shown here in this Hubble image, is
            the red dwarf Proxima Centauri. It&apos;s just over 4 light-years
            away in the southern constellation Centaurus.
          </figcaption>
        </figure>
        <p>
          Red dwarfs are the smallest main sequence stars – just a fraction of
          the Sun&apos;s size and mass. They&apos;re also the coolest, and
          appear more orange in color than red. When a red dwarf produces helium
          via fusion in its core, the released energy brings material to the
          star&apos;s surface, where it cools and sinks back down, taking along
          a fresh supply of hydrogen to the core. Because of this constant
          churning, red dwarfs can steadily burn through their entire supply of
          hydrogen over trillions of years without changing their internal
          structures, unlike other stars. Scientists think some low-mass red
          dwarfs, those with just a third of the Sun&apos;s mass, have life
          spans longer than the current age of the universe, up to about 14
          trillion years. Red dwarfs are also born in much greater numbers than
          more massive stars. Because of that, and because they live so long,
          red dwarfs make up around 75% of the Milky Way galaxy&apos;s stellar
          population.
        </p>
        <aside>
          <p>
            Red dwarfs are too faint to see with the unaided eye. But with a
            backyard telescope, you may be able to see Lacaille 8760 in the
            southern constellation Microscopium or Lalande 21185 in the northern
            constellation Ursa Major.
          </p>
        </aside>
      </article>
    </div>
  </body>
</html>
