<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>White Dwarfs</title>
  </head>
  <body>
    <div class="container">
      <header>
        <h1>White Dwarfs</h1>
        <nav>
          <a href="../index.html">Home</a>
          <a href="main-sequence-stars.html">Main Sequence Stars</a>
          <a href="red-giants.html">Red Giants</a>
          <a href="white-dwarfs.html">White Dwarfs</a>
          <a href="neutron-stars.html">Neutron Stars</a>
          <a href="red-dwarfs.html">Red Dwarfs</a>
          <a href="brown-dwarfs.html">Brown Dwarfs</a>
        </nav>
      </header>
      <article>
        <figure>
          <img src="../img/white-dwarf.jpg" alt="An image of a white dwarf" />
          <figcaption>
            In this illustration, an asteroid (bottom left) breaks apart under
            the powerful gravity of LSPM J0207+3331, the oldest, coldest white
            dwarf known to be surrounded by a ring of dusty debris.
          </figcaption>
        </figure>
        <p>
          After a red giant has shed all its atmosphere, only the core remains.
          Scientists call this kind of stellar remnant a white dwarf. A white
          dwarf is usually Earth-size but hundreds of thousands of times more
          massive. A teaspoon of its material would weigh more than a pickup
          truck. A white dwarf produces no new heat of its own, so it gradually
          cools over billions of years. Despite the name, white dwarfs can emit
          visible light that ranges from blue white to red. Scientists sometimes
          find that white dwarfs are surrounded by dusty disks of material,
          debris, and even planets – leftovers from the original star&apos;s red
          giant phase. In about 10 billion years, after its time as a red giant,
          the Sun will become a white dwarf.
        </p>
        <aside>
          <p>
            White dwarfs are too dim to see with the unaided eye, although some
            can be found in binary systems with an easily seen main sequence
            star. Procyon B is an example in the northern constellation Canis
            Minor. If you have a telescope at home, though, you can see solitary
            white dwarfs LP 145-141 in the southern constellation Musca and Van
            Maanen&apos;s star in the northern constellation Pisces.
          </p>
        </aside>
      </article>
    </div>
  </body>
</html>
