* {
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
}

aside p:last-child::after {
  background-color: #000;
  bottom: -12px;
  color: #ffff00;
  content: "For Stargazers!";
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  position: absolute;
  right: -50px;
}

header a:link {
  padding-left: 10px;
  padding-right: 10px;
}

header a:link:nth-child(even) {
  border-left: 2px solid #1098ad;
  border-right: 2px solid #1098ad;
}

a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: #1098ad;
  text-decoration: none;
}

a:hover {
  color: #1098ad;
  font-weight: bold;
  text-decoration: underline;
}

a:active {
  background-color: #000;
  color: #ffff00;
  font-weight: bold;
  text-decoration: underline;
}

body {
  border-top: 6px solid #1098ad;
  line-height: 1.5;
}

figure {
  margin-bottom: 30px;
  text-align: center;
}

figcaption {
  color: #777;
  font-size: 13px;
  line-height: 1.25;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

footer {
  margin-top: 20px;
  position: absolute;
  right: 100px;
}

header {
  background-color: #eee;
  color: #1098ad;
  margin-bottom: 40px;
  padding-bottom: 5px;
}

h1 {
  color: #1098ad;
  font-style: italic;
  margin-bottom: 15px;
  text-transform: uppercase;
}

h1::first-letter {
  font-style: normal;
}

h2 {
  margin-bottom: 10px;
  margin-top: 10px;
}

img {
  height: 230px;
}

li {
  margin-left: 5px;
  margin-right: 5px;
}

nav {
  margin-left: 10px;
  margin-right: 10px;
}

article nav {
  margin-bottom: 15px;
}

ul {
  list-style-type: none;
  text-align: left;
}

article p {
  margin-bottom: 15px;
}

aside p:last-child {
  border: 3px solid #1098ad;
  font-style: italic;
  margin: 40px;
  padding: 8px;
  position: relative;
}

p {
  font-size: 14px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: justify;
}

.additional-paragraphs {
  margin-left: 50px;
  margin-right: 50px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.index-nav-container {
  background-color: #eee;
  border-bottom: 4px solid #1098ad;
  border-top: 4px solid #1098ad;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
  width: 400px;
}
