* {
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
}

aside p:last-child::after {
  content: "For Stargaizers!";
  color: #ffff00;
  background-color: #000;
}

a:link {
  color: #1098ad;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
}

a:visited {
  color: #1098ad;
  text-decoration: none;
}

a:hover {
  color: #1098ad;
  font-weight: bold;
  text-decoration: underline;
}

a:active {
  background-color: #000;
  color: #ffff00;
  font-weight: bold;
  text-decoration: underline;
}

body {
  border-top: 6px solid #1098ad;
  line-height: 1.5;
}

figure {
  text-align: center;
  margin-bottom: 30px;
}

footer {
  position: absolute;
  right: 100px;
}

header {
  background-color: #eee;
  color: #1098ad;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

h1 {
  color: #1098ad;
  font-style: italic;
  text-transform: uppercase;
  margin-bottom: 15px;
}

h1::first-letter {
  font-style: normal;
}

h2 {
  margin-bottom: 10px;
  margin-top: 10px;
}

img {
  height: 230px;
}

li {
  margin-left: 5px;
  margin-right: 5px;
}

nav {
  margin-left: 10px;
  margin-right: 10px;
}

article nav {
  margin-bottom: 15px;
}

ul {
  list-style-type: none;
  text-align: left;
}

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.index-nav-container {
  background-color: #eee;
  border-top: 4px solid #1098ad;
  border-bottom: 4px solid #1098ad;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  text-align: center;
  width: 400px;
}
